<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ticketWest">
      <h2 data-cy="ticketWestDetailsHeading"><span>Ticket West</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ ticketWest.id }}</span>
        </dd>
        <dt><span>Final Price</span></dt>
        <dd>
          <span>{{ ticketWest.finalPrice }}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
          <span>{{ ticketWest.quantity }}</span>
        </dd>
        <dt><span>Time</span></dt>
        <dd>
          <span>{{ ticketWest.time | formatMediumDatetime }}</span>
        </dd>
        <dt><span>App User Id</span></dt>
        <dd>
          <span>{{ ticketWest.appUserId }}</span>
        </dd>
        <dt><span>Journey Id</span></dt>
        <dd>
          <span>{{ ticketWest.journeyId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/ticket-west', ticketWest.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
