<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="trainWest">
      <h2 data-cy="trainWestDetailsHeading"><span>Train West</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ trainWest.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ trainWest.code }}</span>
        </dd>
        <dt><span>Number Of Seats</span></dt>
        <dd>
          <span>{{ trainWest.numberOfSeats }}</span>
        </dd>
        <dt><span>Fuel Type Id</span></dt>
        <dd>
          <span>{{ trainWest.fuelTypeId }}</span>
        </dd>
        <dt><span>Train Type Id</span></dt>
        <dd>
          <span>{{ trainWest.trainTypeId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/train-west', trainWest.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
